html {
    --color-accent: #aa295a;
    accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
    and use the OS's UI font as the website font
    */

    font: 100%/1.5 system-ui;
    max-width: 600ch;
    margin-inline: max(1em, (100% - 600ch) / 2);
}

nav {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4b4b4b;
}

nav ul, nav li {
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #1023b1;
}

nav a {
    flex: 1;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    color: #1023b1;
}

nav a.current {
    border-bottom-width: 3px; /* 1px border + 2px padding, I wanted to stay in the same sizing system between the 3 navs */
    border-bottom-style: solid;
    border-bottom-color: #4b4b4b;
    padding-bottom: 0.5em;
}

nav a:hover {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
    background-color: #aa295a4d;
    padding-bottom: 0.5em;
}
